h1 {
    color:red;
}
img {
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cornsilk;
    padding: 50px;
    border: 20px blue solid;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}